.indexWrapper {
    flex-grow: 6.0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    /* flex-wrap: wrap; */
    background-color: #0E0E10;
    /* justify-content: center; */
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 800px;
}

.indexWrapper > h1 {
    padding-top: 200px;
    margin-left: 40px;

}

.indexWrapper > hr {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 40px;
    background-color: rgb(48,48,50);
    height: .5px;
    border: none;
}

.innerContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow-y: scroll;
    /* padding-bottom: 200px; */
    margin-left: 41px;
}

.innerContainer > hr {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(48,48,50);
    border: .5px solid rgb(48,48,50) ;
}


.channelsContainer {
    display: flex;
    flex-wrap: wrap;
    /* height: 100vh;
    overflow-y: scroll; */
}

