  <% if logged_in? %>

  <script type="text/javascript">
      window.currentUser =
      <%= render(
          'api/users/user.json.jbuilder',
          user: current_user
      ).html_safe %>
  </script>

  <% end %>

  <script type="text/javascript">
      window.demoUser =
      <%= render(
          'api/users/user.json.jbuilder',
          user: demo_user
      ).html_safe %>
  </script>


  <div id="root"> React is not working </div>