.channelWrapper {
    flex-grow: 6.0;
    background-color: #0E0E10;
    display: flex;
    height: 200vh;
    overflow-y: scroll !important;
    
}


.channelContents {
    display: flex;
    flex-direction: column;
    background-color: #0E0E10;
    width: 100px;
    flex-grow: 3;
    
}

nav {
    background-color: #18181B;
    height: 48px;
    border-bottom: 2px solid #18181B ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.leftNav {
    width: 100px;
}

.rightNav {
    width: 500px;
}


.right {
    min-width: 342px;
    max-width: 342px;
    flex: 1;
    height: calc(100vh - 55px);
}

.followWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #9147FF;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.followWrapper:hover {
    opacity: .7;
  
}


.followWrapper > h5 {
    color: white;
    margin-left: 5px;    

}

.followIcon {
    color: #EFEFF1;
}


.userIconWrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    z-index: 6000;

 }

 .userIcon{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
 }


 /* .innerWrapper {
    overflow-y: scroll !important;
    min-height: 4000px;
 
 } */