.mainNav {
  background-color: #18181B;
  /* background-color: whitesmoke; */
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 8px #888888;
  border-bottom: 2px solid #0E0E10;
  width: 100%;
  flex-shrink: 0
}


.leftNav {
    margin-left: 30px;

}

.rightNav {
    margin-right: 20px;
}

.appTitle {
    color: whitesmoke;
}

.mainContainer {
    display: flex;
}



