.dashboardWrapper {
    flex-grow: 6.0;
    display: flex;
    flex-direction: column;
    background-color: #0E0E10;
    align-items: flex-start;
    overflow-y: scroll;
    height: 1000px;
   
}

.dashboardWrapper > h1 {
    margin-top: 30px;
    margin-left: 20px;

}

.profileWrapper {

    margin-top: 30px;
    margin-left: 20px;

}


.profileWrapper > h2 {
    color: white;
    margin-bottom: 15px;
    
}


.profileForm {
    display: flex;
    align-items: center;
    width: 900px;
    height: 180px;
    background-color: #18181B;
    border: 1px solid #303032;
    border-radius: 7px;
}


 .userIcon {
    margin-left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
 }

 
.dashboardWrapper > hr {
     width: 90%;
     margin-left: 20px;
     margin-top: 30px;
     background-color: rgb(48,48,50);
     height: .5px;
     border: none;

}


.profileBtnWrapper { 
    position: relative; 
    height: 30px;
    width: 160px; 
    display: flex;
    cursor: pointer;


    
}


.profileInput { 
    position: absolute; 
    opacity: 0; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 160px; 
    cursor: pointer;

}


.profileBtnWrapper > label { 
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0; 
    background-color: #3A3A3D; 
    color: rgb(226,226,228);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;

 
}

.profileBtnWrapper > label:hover {
    opacity: .7;
}

.btnDirectionWrapper {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color:  #C0C0C4;

}

.btnDirectionWrapper > h5 {
    margin-top: 8px ;
}



.submitBtn{
    background-color: #3A3A3D; 
    color: rgb(226,226,228);
    /* margin-bottom: 25px;*/
    margin-left: 170px; 
    height: 30px;
    width: 100px; 
    border-radius: 6px;
    border: none;
    cursor: pointer;

}

.submitBtn:hover {
    opacity: .5;
}

.disabledBtn {
    background-color: #3A3A3D;
    opacity: .5;
}

.imgPreviewWrapper {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #303032;
    border-radius: 5px;
    padding: 15px;
   
}

.imgPreviewWrapper > h3 {
    color: white;
  
}

.imgPreviewWrapper > img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}