.categoriesWrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 800px;
    
}

.categoryItemWrapper{
    position: relative;

}

.categoryItem {
    margin: 10px;
    

} 



.categoryItem > h5 {
    margin-top: 10px;
    color: wheat;
}

/* .categoryItem::before {
    content: ' ';
    position: absolute;
    border-left: solid 11px rgba(145,70,255,1);
    border-bottom: solid 12px rgba(145,70,255,1);
    top: 0px;
    left: 11px;
    animation-name: boxDownBefore;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
} */

/* .categoryItem:hover::before { 
    animation-name: boxUpBefore;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
} */

/* 
.categoryItem::after {
    content: ' ';
    position: absolute;
    z-index: 800;
    border-left: solid 12px rgba(145,70,255,1);
    border-bottom: solid 10px rgba(145,70,255,1);
    bottom: 29.8px;
    right: -1px;
    animation-name: boxDownAfter;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
} */

/* .categoryItem:hover::after { 
    z-index: 800;
    animation-name: boxUpAfter;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

} */

.categoryImgWrap::before {
    content: ' ';
    position: absolute;
    border-left: solid 12px rgba(145,70,255,1);
    border-bottom: solid 12px rgba(145,70,255,1);
    top: 0px;
    left: 11.4px;
    margin-top: .5px;
    animation-name: boxDownBefore;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
}

.categoryImgWrap:hover::before { 
    animation-name: boxUpBefore;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.categoryImgWrap::after {
    content: ' ';
    position: absolute;
    z-index: 800;
    border-left: solid 12.4px rgba(145,70,255,1);
    border-bottom: solid 10.4px rgba(145,70,255,1);
    bottom: 31.4px;
    right: 1px;
    margin-right: .5px;
    animation-name: boxDownAfter;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
}

.categoryImgWrap:hover::after { 
    z-index: 800;
    animation-name: boxUpAfter;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}




.categoryImg {
    position: relative;
    z-index: 9999;
    animation-name: boxDown;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}


.categoryImg:hover {
    position: relative;
    z-index: 9999;
    animation-name: boxUp;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}



@keyframes boxUp {

    from {
        -webkit-box-shadow: 0px 0px 0px -1px rgba(145,70,255,1);
        -moz-box-shadow: 0px 0px 0px -1px rgba(145,70,255,1);
        box-shadow: 0px 0px 0px -1px rgba(145,70,255,1);
        transform: translate3d(0, 0 ,0)
        
    }

    to {
        -webkit-box-shadow: -11px 11px 0px -1px rgba(145,70,255,1);
        -moz-box-shadow: -11px 11px 0px -1px rgba(145,70,255,1);
        box-shadow: -11px 11px 0px -1px rgba(145,70,255,1);
        transform: translate3d(11px, -11px ,0)

    }

}

@keyframes boxUpBefore {

    from {
      
        border-left: solid 11px rgba(145,70,255,1);
        border-bottom: solid 12px rgba(145,70,255,1);
        top: 0px;
        
    }

    to {
        border-left: solid 11px rgba(145,70,255,1);
        border-bottom: solid 12px rgba(145,70,255,1);
        top: -11px;
        
    }

}



@keyframes boxUpAfter {

    from {
        border-left: solid 12px rgba(145,70,255,1);
        border-bottom: solid 10px rgba(145,70,255,1);
        right: 11px;

    }

    to {
        border-left: solid 12px rgba(145,70,255,1);
        border-bottom: solid 10px rgba(145,70,255,1);
        right: -1px;
        
    }

}


@keyframes boxDown {

    from {
        -webkit-box-shadow: -11px 11px 0px -1px rgba(145,70,255,1);
        -moz-box-shadow: -11px 11px 0px -1px rgba(145,70,255,1);
        box-shadow: -11px 11px 0px -1px rgba(145,70,255,1);
        transform: translate3d(11px, -11px ,0)
    }

    to {
       -webkit-box-shadow: 0px 0px 0px -1px rgba(145,70,255,1);
        -moz-box-shadow: 0px 0px 0px -1px rgba(145,70,255,1);
        box-shadow: 0px 0px 0px -1px rgba(145,70,255,1);
        transform: translate3d(0, 0 ,0)
    }

}



@keyframes boxDownBefore {

    from {
      
        border-left: solid 11px rgba(145,70,255,1);
        border-bottom: solid 12px rgba(145,70,255,1);
        top: -11px;
        
    }

    to {
        border-left: solid 11px rgba(145,70,255,1);
        border-bottom: solid 12px rgba(145,70,255,1);
        top: 0;
        
    }

}




@keyframes boxDownAfter {

    from {
      
        border-left: solid 12px rgba(145,70,255,1);
        border-bottom: solid 10px rgba(145,70,255,1);
        right: -1px;
        
    }

    to {
        border-left: solid 12px rgba(145,70,255,1);
        border-bottom: solid 10px rgba(145,70,255,1);
        right: 11px;
    }

}

 