.categoryWrapper {
    display: flex;
    flex-direction: column;
    background-color: #0E0E10;
    flex-grow: 6;
}

.banner {
    display: flex;
    flex-direction: column;
}

.infoArea {
    display: flex;
    margin: 40px;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.description > h5 {
    margin-top: 15px;
    color:#75757C;
    font-size: 14px;
}

.videoWrapper {
    margin-top: 60px;
    display: flex;
}


.categoryWrapper > hr {
    width: 90%;
    margin-left: 20px;
    margin-top: 30px;
    background-color: rgb(48,48,50);
    height: .5px;
    border: none;
}


.videoCountWrapper{ 
    display: flex;
    margin: 30px;
}

.videoCountWrapper h1:nth-child(1) {
    margin-right: 10px;
    color: #EFEFF1;
}


.videoCountWrapper h1:nth-child(2) {
    margin-right: 10px;
    color: #A4A4AF;
}
