.channelItem {
    list-style: none;
    width: 200px;
    height: 130px;
    background-color: #27262C;
    color: white;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    align-items: center;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(145,71,255,1);
    -moz-box-shadow: 4px 3px 5px 0px rgba(145,71,255,1);
    box-shadow: 4px 3px 5px 0px rgba(145,71,255,1);
    }

.icon {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border-radius: 50%;
}