

[type=radio] {
  display: none;
}

.slideWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 40vh;
  margin-top: 25px;

}

.left {
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2vw;
  top: 35%;
  color: white;
  width: 50px;
  height: 50px;
  z-index: 9999999;
  border-radius: 5px;
}

.left:hover {
  background-color: #323234 ;
}

.right {
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2vw;
  top: calc(35%);
  color: white;
  width: 50px;
  height: 50px;
  z-index: 9999999;
  border-radius: 5px;
}

.right:hover {
  background-color: #323234 ;
}






#slider {
  height: 40vh;
  width: 100%;
  position: absolute;
  perspective: 1000px;
  transform-style: preserve-3d;
  margin-left: -3vw;

}

#slider label {
  display: flex;
  margin: auto;
  width: 30%;
  height: 70%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
  border-radius: 5px;
}

.crslVidChannel {
  display: flex;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  color: rgb(31,31,35);
  padding-left: 20px;
  top: 0;
  left: 0;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  z-index: 99999;
  background-color: #18181B;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;


}

.crslUserIcon{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
 }

 .crslVidChannel > a {
   color: #734FAA;
   margin-left: 10px;
   font-size: 15px;
 }

 .crslVidChannel > a:hover {
   text-decoration: underline;
 
 }



 .videoLabel {
  height: 35vh;
  z-index: 9999;
  border-radius: 5px;

}



#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-80%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-40%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(40%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(80%,0,-200px);
}

/* #slide1 { background: #00BCD4 }
#slide2 { background: #4CAF50 }
#slide3 { background: #CDDC39 }
#slide4 { background: #FFC107 }
#slide5 { background: #FF5722 } */