.indexWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.vodsWrapper {
    display: flex;
    flex-wrap: wrap;
}


.vodItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 30px;
    box-sizing: border-box;

}

.vodItem > h4 {
    color: white;
    margin-top: 10px;

}

.vodItem > h6 {
    margin-top: 5px;
    color: rgb(169, 169, 179);
    font-size: 12px;
    
}

.vodThumb {
    width: 100%;
    height: 160px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoPlayer {
    width: 300px;
    height: 160px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid transparent;
}

.videoPlayer:hover {
    border: 1px solid blue;

}


.videoCountWrapper{ 
    display: flex;
    margin: 30px;
}

.videoCountWrapper h1:nth-child(1) {
    margin-right: 10px;
    color: #EFEFF1;
}


.videoCountWrapper h1:nth-child(2) {
    margin-right: 10px;
    color: #A4A4AF;
}



.indexWrapper > hr {
width: 90%;
margin-left: 20px;
margin-top: 30px;
margin-bottom: 30px;
background-color: rgb(48,48,50);
height: .5px;
border: none;
}