.aboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 6;
  background-color:  #18181B;
  height: 100vh;
  overflow-y: scroll;
}

.mostOuter {
  padding-bottom: 500px;
}

.outer {
  margin-top: 450px ;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 700px;
  background-color: #DADCE0;
  align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 8px 6px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: 8px 6px 10px 0px rgba(0,0,0,1);
    box-shadow: 8px 6px 10px 0px rgba(0,0,0,1);
      /* -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 5px rgba(0,0,0,1);
    box-shadow: 0 2px 3px 5px rgba(0,0,0,1); */
}

.outer > h1 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: black;
}

.outer > h2 {
  margin-bottom: 15px;
}


.linkWrapper {
  display: flex;
  width: 80%;
  justify-content: space-evenly;

}
.linkWrapper > li {
  list-style: none;
}

.icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.picture {
  width: 80%;
  margin-top: 40px;
  border-radius: 8px;
}